/********** Tourist Places **********/
.individual-service h1
{
    color: #1B93CB;
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.individual-service .box
{
    margin: 50px 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px rgb(107, 107, 107);
    position: relative;
}

.individual-service .box
{
    padding: 30px;
    min-height: 200px;
}

.individual-service .box .pic img
{
    display: inline-block;
    width: 18%;
    border-radius: 5px;
}

.individual-service .box .content
{
    position: absolute;
    top: 0px;
    left: 300px;
    margin-right: 15px;
}

.individual-service .box .content h3
{
    font-size: 28px;
}

.individual-service .box .content p, span
{
    font-size: 18px;
}

.individual-service .box .content span
{
    position: relative;
    top: -12px;
}

.individual-service .box .content li
{
    display: inline;
    padding: 30px;
    font-size: 18px;
}

.individual-service .box .content li a
{
    position: relative;
    top: -7px;
}

.individual-service .box .content li a:hover
{
    font-size: 22px;
    font-weight: 550;
}